.banner {
  position: relative;
  height: 500px;
  color: white;
  object-fit: contain;
}

.banner_contents {
  margin-left: 40px;
  padding-top: 140px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
}

.banner_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  max-width: 360px;
  height: 80px;
  color: #ddd;
}

.banner_buttons {
  margin-top: 15px;
}

.banner_button {
  cursor: pointer;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 3px;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
  background-color: white;
  color: black;
}

.banner_fadeBottom {
  position: absolute;
  bottom: 0;
  height: 7.4rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
